h2 {
  font-family: sans-serif;
  color: #4C1919;
}

.list {
  font-family: sans-serif;
}

.history {
  font-family: serif;
}

.date {
  font-style: italic;
}

/*==========================================================
Media Queries
==========================================================*/

@media screen and (max-width: 768px) and (min-width: 481px) {
  body {
  background: #FF6347;
  color: #FFF;
  }
}

@media screen and (max-width: 480 px) {
  body {
    background: #4682B4;
  }
}
